<form class="" action="/bookmarks/add" method="get">
  <input type="submit" name="" value="Add link">
</form>

<%= flash[:notice] %>



<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
