<form class="" action="/bookmarks" method="post">
  <label for="">
    Website URL
    <br>
    <input type="text" name="url" value="">
  </label>
  <br>
  <label for="">
    Website Title
    <br>
    <input type="text" name="title" value="">
  </label>
  <br>
  <input type="submit" name="" value="Submit">
</form>
